packages*/
*.suo
*.user
_ReSharper.*
bin
obj
*.exe
!NuGet.exe
*.ide

*.ide-journal



\.vs/config/applicationhost\.config

\.vs/WebApplication2/DesignTimeBuild/\.dtbcache

\.vs/WebApplication2/v15/Server/sqlite3/db\.lock

\.vs/WebApplication2/v15/Server/sqlite3/storage\.ide-shm

\.vs/WebApplication2/v15/Server/sqlite3/storage\.ide-wal

\.vs/StatisticsAPI/v15/Server/sqlite3/db\.lock

\.vs/StatisticsAPI/v15/Server/sqlite3/storage\.ide-shm

\.vs/StatisticsAPI/v15/Server/sqlite3/storage\.ide-wal
